{{ define "footer" }}
<footer class="main-footer">
    <div class="footer-left">
    Copyright &copy; 2018 <div class="bullet"></div> Design By <a href="https://nauval.in/">Muhamad Nauval Azhar</a>
    </div>
    <div class="footer-right">
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{{ if .error }}
<script>
  document.addEventListener('DOMContentLoaded', function () {
    Swal.fire({
      icon: 'error',
      title: 'Error',
      text: '{{ .error }}',
      confirmButtonColor: '#d33',
    });
  });
</script>
{{ end }}
{{ if .success }}
    <script>
      document.addEventListener('DOMContentLoaded', function () {
        Swal.fire({
          icon: 'success',
          title: 'Success',
          text: '{{ .success }}',
          confirmButtonColor: '#28a745'
        });
      });
    </script>
{{ end }}
{{ end }}